$progressLineHeight: 3px;
.atom-progress-line {
    position: relative;
    background: $lightest;
    height: $progressLineHeight;
    width: 100%;
    overflow: hidden;
    &--rounded {
        border-radius: $progressLineHeight;
    }
    &__body {
        width: 0;
        height: $progressLineHeight;
        background: $primary;
    }
}