$rangeHeight: 30px;

.atom-range {
    padding:0 $rangeHeight/2;
    
    &__body{
        position: relative;
        display: flex;
        height:$rangeHeight;
        width: 100%;
        align-items: center;
    }


    &__handler {
        position: absolute;
        display: block;
        z-index: 2;
        cursor: move;
        height: $rangeHeight;
        line-height: $rangeHeight;
        width: $rangeHeight;
        text-align: center;
        border-radius: 100%;
        background: rgba($primary,1);
        color: $white;
        transform: translateX(-50%);
    }

    .transition {
        transition: all $duration;
    }
}